@import './reset.css' ;

// Grid Config
  $grid-columns: 12;
  :root { //Beta
    --grid-gap: 0px;
  }

// Margins
  $margin: 1rem ;
  $margin-s: 2rem ;
  $margin-m: 3rem ;
  $margin-l: 4rem ;
// Padding
  $padding: $margin / 2 ;
  $padding-s: $margin-s / 2 ;
  $padding-m: $margin-m / 2 ;
  $padding-l: $margin-l / 2 ;

// Breakpoints
  $breakpoint-phone: 640px ;
  $breakpoint-tablet: 768px ;
  $breakpoint-desktop: 1024px ;

// Text Sizing
  $text-mobile: 42px;
  $text-mobile-big: 56px;
  $text-mobile-huge: 72px;
  $text-tablet: 24px;
  $text-tablet-big: 32px;
  $text-desktop: 12px;
  $text-desktop-big: 18px;

// Fonts
  $font-title: sans-serif ;
  $font-text: serif ;
  $font-accent: cursive ;

// Patterns
html{
  font-size: $text-mobile;

  @media screen and (min-device-width: $breakpoint-tablet) {
    font-size: $text-tablet;
  }

  @media screen and (min-device-width: $breakpoint-desktop) {
    font-size: $text-desktop;
  }
}

.stack {
  display: flex ;
  width: 100% ;
  text-align: center ;
  flex-direction: column ;

  @media screen and (max-device-width: $breakpoint-phone) {
    margin: auto ;
    padding: $padding ;
  }

  @media screen and (min-device-width: $breakpoint-phone) {
    margin: auto ;
    padding: $padding-s ;
  }

  @media screen and (min-device-width: $breakpoint-tablet) {
      margin: auto ;
      padding: $padding-m ;
  }

  @media screen and (min-device-width: $breakpoint-desktop) {
      margin: auto ;
      padding: $padding-l ;
  }
}

.queue {
  display: flex ;
  width: 100% ;

  @media screen and (max-width: $breakpoint-phone) {
    margin: auto ;
    padding: $padding / 4 ;
  }

  @media screen and (min-width: $breakpoint-phone) {
    margin: auto ;
    padding: $padding-s / 4 ;
  }

  @media screen and (min-width: $breakpoint-tablet) {
      margin: auto ;
      padding: $padding-m / 4 ;
  }

  @media screen and (min-width: $breakpoint-desktop) {
      margin: auto ;
      padding: $padding-l / 4 ;
  }
}

.column {
  flex-direction: column !important;
}

.row {
  flex-direction: row !important ;
}

.start {
  justify-content: flex-start !important;
}

.center {
  justify-content: center !important;
}

.end {
  justify-content: flex-end !important;
}

.around {
  justify-content: space-around !important ;
}

.between {
  justify-content: space-between !important;
}

// Grid Elements
// Utility Classes
.board {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gap) * -1) 0 0 calc(var(--grid-gap) * -1);
}

.col {
  box-sizing: border-box;
  background-clip: content-box;
  flex-basis: 100%;
}

@function round-width($i) {
  $width: floor(100 * $i * 100 / $grid-columns) / 100;
  @return $width#{"%"};
}

// Grid Logic

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex-basis: round-width($i);
    max-width: round-width($i);
  }
}

@media only screen and (min-width: 768px) {
  @for $i from 1 through $grid-columns {
    .col-m-#{$i} {
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
}

@media only screen and (min-width: 1024px) {
  @for $i from 1 through $grid-columns {
    .col-l-#{$i} {
      flex-basis: round-width($i);
      max-width: round-width($i);
    }
  }
}

